@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
/*
    Variables
*/
/*
    Mixins
*/
/*
    Réinitialisation des styles
*/
p {
  font-family: "Open Sans", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
  font-family: "Roboto", sans-serif;
}

/*
    Global Styles
*/
header {
  background-color: #03C490;
}
header .container1440, header .container1440 ul {
  max-width: 1440px;
  margin: auto;
  padding: 0 15px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
header .container1440 img {
  max-height: 170px;
  max-width: 100%;
}
header .container1440 ul {
  gap: 20px;
}
header .container1440 ul a {
  font-size: 20px;
  color: #fff;
  transition: all 0.3s ease;
}
header .container1440 ul a:hover {
  color: #000;
}
header .container1440 ul .btnLogin {
  color: #fff;
  border: 2px solid #6595F3;
  background-color: #6595F3;
  transition: all 0.3s ease;
  padding: 10px 20px;
  border-radius: 5px;
}
header .container1440 ul .btnLogin:hover {
  color: #000;
  background-color: #03C490;
  border: 2px solid #03C490;
}
header .container1440 ul .btnRegister {
  color: #000;
  border: 1px solid #000;
  background-color: #fff;
  transition: all 0.3s ease;
  padding: 10px 20px;
  border-radius: 5px;
}
header .container1440 ul .btnRegister:hover {
  color: #fff;
  background-color: #03C490;
  border: 1px solid #03C490;
}

footer {
  background: rgb(3, 196, 144);
  background: linear-gradient(0deg, rgb(3, 196, 144) 0%, rgba(3, 196, 144, 0.75) 35%, rgba(3, 196, 144, 0.45) 67%, rgba(3, 196, 144, 0) 100%);
}
footer .container1440, footer header .container1440 ul, header .container1440 footer ul {
  max-width: 1440px;
  margin: auto;
  padding: 0 15px;
}
footer .container1440 img, header .container1440 footer ul img {
  max-height: 170px;
  max-width: 100%;
}
footer .container1440 .contentFooter, header .container1440 footer ul .contentFooter {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 30px;
}
footer .container1440 #listUl, header .container1440 footer ul #listUl {
  display: flex;
  gap: 140px;
}
footer .container1440 #listUl ul, header .container1440 footer ul #listUl ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}
footer .container1440 #listUl ul .titleList, header .container1440 footer ul #listUl ul .titleList {
  font-size: 20px;
}
footer .container1440 #listUl ul a, header .container1440 footer ul #listUl ul a {
  color: #454545;
  transition: all 0.2s ease;
}
footer .container1440 #listUl ul a:hover, header .container1440 footer ul #listUl ul a:hover {
  color: #fff;
}
footer .container1440 p, header .container1440 footer ul p {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #fff;
}

/*# sourceMappingURL=home.css.map */
