@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
/*
    Variables
*/
/*
    Mixins
*/
/*
    Réinitialisation des styles
*/
p {
  font-family: "Open Sans", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: #FEFDFD;
}

/*
    Global Styles
*/
header {
  background-color: #03C490;
}
header .container1440, header .container1440 ul {
  max-width: 1440px;
  margin: auto;
  padding: 0 15px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
header .container1440 img {
  max-height: 170px;
  max-width: 100%;
}
header .container1440 ul {
  gap: 20px;
}
header .container1440 ul a {
  font-size: 20px;
  color: #fff;
  transition: all 0.3s ease;
}
header .container1440 ul a:hover {
  color: #000;
}
header .container1440 ul .btnLogin {
  color: #fff;
  border: 2px solid #6595F3;
  background-color: #6595F3;
  transition: all 0.3s ease;
  padding: 10px 20px;
  border-radius: 5px;
}
header .container1440 ul .btnLogin:hover {
  color: #fff;
  background-color: #03C490;
  border: 2px solid #03C490;
}
header .container1440 ul .btnRegister {
  color: #000;
  border: 1px solid #000;
  background-color: #fff;
  transition: all 0.3s ease;
  padding: 10px 20px;
  border-radius: 5px;
}
header .container1440 ul .btnRegister:hover {
  color: #fff;
  background-color: #03C490;
  border: 1px solid #03C490;
}

footer {
  background: rgb(3, 196, 144);
  background: linear-gradient(0deg, rgb(3, 196, 144) 0%, rgba(3, 196, 144, 0.75) 35%, rgba(3, 196, 144, 0.45) 67%, rgba(3, 196, 144, 0) 100%);
}
footer .container1440, footer header .container1440 ul, header .container1440 footer ul {
  max-width: 1440px;
  margin: auto;
  padding: 0 15px;
}
footer .container1440 img, header .container1440 footer ul img {
  max-height: 170px;
  max-width: 100%;
}
footer .container1440 .contentFooter, header .container1440 footer ul .contentFooter {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 30px;
}
footer .container1440 #listUl, header .container1440 footer ul #listUl {
  display: flex;
  gap: 140px;
}
footer .container1440 #listUl ul, header .container1440 footer ul #listUl ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}
footer .container1440 #listUl ul .titleList, header .container1440 footer ul #listUl ul .titleList {
  font-size: 20px;
}
footer .container1440 #listUl ul a, header .container1440 footer ul #listUl ul a {
  color: #454545;
  transition: all 0.2s ease;
}
footer .container1440 #listUl ul a:hover, header .container1440 footer ul #listUl ul a:hover {
  color: #fff;
}
footer .container1440 p, header .container1440 footer ul p {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #fff;
}

main #presentation {
  position: relative;
}
main #presentation .container860 {
  max-width: 860px;
  margin: auto;
  padding: 0 15px;
  background-image: url("../img/bria_a0cf9b386c963399.PNG");
  background-size: cover;
  height: 850px;
  display: flex;
  align-items: center;
  position: relative;
  margin-bottom: 50px;
}
main #presentation .container860 a {
  color: #fff;
  border: 2px solid #6595F3;
  background-color: #6595F3;
  transition: all 0.3s ease;
  padding: 10px 20px;
  border-radius: 5px;
  z-index: 2;
  margin: auto auto 0;
}
main #presentation .container860 a:hover {
  color: #fff;
  background-color: #03C490;
  border: 2px solid #03C490;
}
main #presentation .container860 .textSection1 {
  z-index: 2;
  color: #fff;
  position: absolute;
  top: 40%;
  left: 15%;
}
main #presentation .container860 .textSection1 h1 {
  font-size: 52px;
  font-family: "Lato", sans-serif;
  line-height: 75px;
}
main #presentation .container860 .textSection1 h1 span {
  background-color: rgba(245, 245, 220, 0.48);
}
main #presentation::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(3, 196, 144, 0.5);
  background: rgb(3, 196, 144);
  background: linear-gradient(180deg, rgb(3, 196, 144) 0%, rgba(3, 196, 144, 0.75) 20%, rgba(3, 196, 144, 0.55) 60%, rgba(3, 196, 144, 0) 100%);
  z-index: 1;
}
main #services {
  margin-bottom: 75px;
}
main #services .container1440, main #services header .container1440 ul, header .container1440 main #services ul {
  max-width: 1440px;
  margin: auto;
  padding: 0 15px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}
main #services .container1440 h2, header .container1440 main #services ul h2 {
  font-size: 42px;
  font-family: "Roboto", sans-serif;
  text-align: center;
}
main #services .container1440 #servicesP, header .container1440 main #services ul #servicesP {
  font-size: 20px;
  font-family: "Open Sans", sans-serif;
  text-align: center;
  color: #757575;
}
main #services .container1440 #serviceArticle, header .container1440 main #services ul #serviceArticle {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  margin-bottom: 50px;
}
main #services .container1440 #serviceArticle article, header .container1440 main #services ul #serviceArticle article {
  background-color: #F0F0F0;
  border-radius: 12px;
  padding: 20px;
}
main #services .container1440 #serviceArticle article i, header .container1440 main #services ul #serviceArticle article i {
  margin-bottom: 20px;
}
main #services .container1440 #serviceArticle article h3, header .container1440 main #services ul #serviceArticle article h3 {
  text-align: center;
  margin-bottom: 15px;
}
main #services .container1440 #serviceArticle article p, header .container1440 main #services ul #serviceArticle article p {
  font-size: 15px;
  text-align: center;
  color: #757575;
}
main #pret {
  background-color: #03C490;
  padding: 50px;
  height: fit-content;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 120px;
  margin-bottom: 75px;
}
main #pret h2 {
  color: #fff;
  font-size: 42px;
  font-family: "Roboto", sans-serif;
}
main #pret a {
  color: #fff;
  border: 2px solid #6595F3;
  background-color: #6595F3;
  transition: all 0.3s ease;
  padding: 10px 20px;
  border-radius: 5px;
  margin: auto;
}
main #pret a:hover {
  color: #fff;
  background-color: #03C490;
  border: 2px solid #03C490;
}
main #video {
  text-align: center;
  margin-bottom: 75px;
}
main #video .container1440, main #video header .container1440 ul, header .container1440 main #video ul {
  max-width: 1440px;
  margin: auto;
  padding: 0 15px;
}
main #video .container1440 h2, header .container1440 main #video ul h2 {
  font-size: 42px;
  font-family: "Roboto", sans-serif;
  margin-bottom: 50px;
}
main #video .container1440 iframe, header .container1440 main #video ul iframe {
  width: 100%;
  height: 500px;
}
main #contact {
  margin-bottom: 75px;
}
main #contact .container1440, main #contact header .container1440 ul, header .container1440 main #contact ul {
  max-width: 1440px;
  margin: auto;
  padding: 0 15px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}
main #contact .container1440 h2, header .container1440 main #contact ul h2 {
  font-size: 42px;
  font-family: "Roboto", sans-serif;
  text-align: center;
}
main #contact .container1440 div, header .container1440 main #contact ul div {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 20px;
}
main #contact .container1440 div form, header .container1440 main #contact ul div form {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  gap: 20px;
}
main #contact .container1440 div form input, header .container1440 main #contact ul div form input, main #contact .container1440 div form textarea, header .container1440 main #contact ul div form textarea {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid transparent;
  border-bottom: 2px solid #808181;
  background-color: #F5F5F5;
  outline: none;
  resize: none;
}
main #contact .container1440 div form #rgpd, header .container1440 main #contact ul div form #rgpd {
  display: flex;
  align-items: center;
  gap: 10px;
}
main #contact .container1440 div form #rgpd input, header .container1440 main #contact ul div form #rgpd input {
  width: 20px;
  height: 20px;
}
main #contact .container1440 div form #rgpd label, header .container1440 main #contact ul div form #rgpd label {
  font-size: 15px;
}
main #contact .container1440 div form button, header .container1440 main #contact ul div form button {
  color: #fff;
  border: 2px solid #6595F3;
  background-color: #6595F3;
  transition: all 0.3s ease;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}
main #contact .container1440 div form button:hover, header .container1440 main #contact ul div form button:hover {
  color: #fff;
  background-color: #03C490;
  border: 2px solid #03C490;
}
main #contact .container1440 div img, header .container1440 main #contact ul div img {
  max-width: 100%;
  max-height: 700px;
}

/*# sourceMappingURL=home.css.map */
